<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Library </title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <%for (i=0;i<nav.length;i++){%>
        <li>
          <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
        </li>
        <%}%>
        
        <li >
            <a href="/signup">Signup</a>
          </li>
          
      
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Login
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <!-- /form start-->
  <div class="container" style="width: 40%;">
  <form onsubmit="return validate() && passwordchanged()">
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="email" style="color: blanchedalmond;">Email</label>
        <input type="email" onchange="return validate()" class="form-control" id="email" placeholder="Email" required>
        <label id="erremail" style="color: white; font-size: medium;"></label>
      </div>
      <div class="form-group col-md-12">
        <label for="password" style="color: blanchedalmond;">Password</label>
        <input type="password" onchange="return passwordchanged()" class="form-control" id="Password"  placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 7 or more characters" required>
        <label id="errpassword"  style="color: rgb(211, 145, 145); font-size: medium;"></label>
      </div>
      
    </div>
    <br>
    <div class="text-center">
    <button type="submit" style="width: 50%; color: black; background-color: green;"  class="btn btn-primary">Login</button><br><br>
  </div>
  </form>                                                      
</div>                                                
                                                      
   	</div><!--/form-->
  </div>
</div>

 
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
   <!-- script for email and password validation -->
   <script type= text/javascript>
    let email = document.getElementById("email");
    let erremail = document.getElementById("erremail");
   function validate(){
  let regexp = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.]{5,7})+\.([A-Za-z]{2,4})$/;
  if(regexp.test(email.value)){
      erremail.innerHTML="";
      return true;
  }else if(email.value==""){
      erremail.innerHTML="Cannot be empty!!!";
      erremail.style.color="yellow";
      return false;
  }
  else{
      erremail.innerHTML="Email is invalid";
      erremail.style.color="orange";
      return false;
  }
}
  </script>
  <script type="text/javascript">
  
var password = document.getElementById('Password');
var errpassword = document.getElementById('errpassword');
errpassword.innerHTML="";
function passwordchanged(){
  var strongRegex = new RegExp("^(?=.{7,})|(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
  var mediumRegex = new RegExp("^(?=.{5,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
  if(strongRegex.test(Password.value)){
      errpassword.innerHTML="";
      return true;
  }else if(Password.value==""){
      errpassword.innerHTML="Password cannot be empty";
      errpassword.style.color="red";
      return false;
  }
  else{
      errpassword.innerHTML="Password is wrong";
      return false;
  }
}
  </script>
 
	</body>
</html>